// Dimensions
$radius: 3px;
$spacing: 5px;
$padding: 10px;

$formControlBaseHeight: 21px;
$formControlArrowSize: 4px;
$formControlArrowSpace: 15px;
$scrollBarSize: 8px;

// Colors
$textColor: white;
$darkBgColor: #292929;
$frameBgColor: #525252;
$lightBgColor: #808080;
