@import "fa/variables";

// Dimensions
$radius: .25em !global;
$spacing: .25em !global;
$padding: .5em !global;

$formControlBaseHeight: 1.5em !global;
$formControlArrowSize: .37em !global;
$formControlArrowSpace: .45em !global;
$scrollBarSize: .6em !global;

// Colors
$textColor: white !global;
$bgColorBase: #343434 !global;
$bgColorLighten: lighten($bgColorBase, 34%) !global;