@import "vars", 'mixins', 'fa/font-awesome';

// Encapsulate app styles to avoid conflict with the page style
// But page style still can harm sometimes..
#XTranslate {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000000000;
  font-size: initial;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: initial;

  // reset and optimize some styles inside the app
  *, *:after, *:before {
    @include with-vendors(box-sizing, border-box);
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font: inherit;
    color: inherit;
    line-height: initial;
    font-weight: initial;
    font-style: initial;
    text-decoration: initial;
    background: initial;
    text-align: initial;
    -webkit-font-smoothing: inherit;
  }

  // hide pseudo-elements, if some site adds it
  .popup {
    &:after, &:before {
      display: none;
    }
  }

  .showPopup {
    @include fa-icon(1.5em);

    position: absolute;
    text-shadow: 0 0 .05em white;
    cursor: pointer;

    &.leftTop {
      @include with-vendors(transform, translate(-100%, -100%));
    }
  }

  // include dependencies
  @import "ui/flying_panel";
  @import "ui/scroll_bar";
  @import "views/popup";
  @import "views/vendor_data_view";
}