@import "vars", 'mixins';

// wrap the user css into single class name
#XTranslate {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  // reset user and page styles for the inner elements
  * {
    @include with-vendors(box-sizing, border-box);
    margin: 0;
    padding: 0;
    outline: none;
    line-height: initial;
    font-weight: initial;
    font-style: initial;
    text-decoration: initial;
  }

  // include dependencies
  @import "ui/flying_panel";
  @import "ui/scroll_bar";
  @import "views/popup";
  @import "views/vendor_data_view";
}