@import "vars", 'mixins';

html, body {
  @include with-vendors(user-select, none);
  background-color: $darkBgColor;
  height: 100%;
}

#app {
  $width: 420px;
  $height: 550px;
  $padding: 15px;

  position: relative;
  width: $width + $padding * 2;
  min-height: $height;
  padding: $padding;
  margin: auto;

  .popupView & {
    width: $width;
    margin: 0 $padding;
    padding: $padding 0;
  }
}

* {
  @include with-vendors(box-sizing, border-box);
  margin: 0;
  padding: 0;
  outline: none;
}

body, table, textarea, input, button, select, a {
  font: 13px Verdana, sans-serif;
  color: $textColor;
}

a {
  font: inherit;
  &:hover {
    text-decoration: none;
  }
}

textarea {
  resize: vertical;
  width: 100%;
  height: 50px;
  background: none;
  border: 1px solid gray;
  border-radius: $radius;
  padding: $spacing;
  overflow: hidden;

  &:focus {
    border-color: silver;
    @include formControlFocus;
  }
}

// common
@import "ui/flying_panel";
@import "ui/form_control";
@import "ui/button";
@import "ui/check_box";
@import "ui/radio";
@import "ui/select";
@import "ui/slider";
@import "ui/text_input";
@import "ui/number_input";
@import "ui/color_picker";
@import "ui/item_list";
@import "ui/tab_bar";
@import "ui/scroll_bar";

// app
@import "views/popup";
@import "views/app_header_bar";
@import "views/app_footer_bar";
@import "views/vendor_data_view";
@import "views/vendor_language_select";
@import "views/settings_container";
@import "views/settings_block";
@import "views/settings_popup_definitions";
@import "views/settings_vendor";
@import "views/settings_popup_style";
@import "views/settings_exclusions";
@import "views/user_input_container";
