// Dimensions
$radius: .25em;
$spacing: .25em;
$padding: .5em;

$formControlBaseHeight: 1.5em;
$formControlArrowSize: .37em;
$formControlArrowSpace: .45em;
$scrollBarSize: .6em;

// Colors
$textColor: white;
$bgColorBase: #343434;
$bgColorLighten: lighten($bgColorBase, 34%);