// Dimensions
$radius: .25em;
$spacing: 5px;
$padding: 10px;

$formControlBaseHeight: 1.5em;
$formControlArrowSize: .37em;
$formControlArrowSpace: .45em;
$scrollBarSize: 8px;

// Colors
$textColor: white;
$darkBgColor: #292929;
$frameBgColor: #525252;
$lightBgColor: #808080;
