@import '../vars', '../mixins';

.itemList {
  $removeIcon: 1em;
  $offset: 3px;

  position: relative;
  overflow: hidden;
  list-style: none;
  background: $bgColorBase;
  padding: $offset;
  border-radius: $radius;
  border: 1px solid $bgColorLighten;
  cursor: default;

  li {
    position: relative;
    padding: 1px $spacing;
    border-radius: $radius;
    white-space: nowrap;
    margin-top: $offset;
    text-overflow: ellipsis;
    overflow: hidden;

    &:first-child {
      margin-top: 0;
    }

    &.selected {
      background-color: darken($bgColorLighten, 20%) !important;
    }

    &.disabled {
      pointer-events: none;
      color: gray;
      background: none !important;
    }

    &:hover {
      background-color: $bgColorLighten;
    }
  }

  &.removable {
    li {
      padding-right: $removeIcon * 1.5;

      &.selected, &:hover {
        .removeIcon {
          display: block;
        }
      }
    }

    .removeIcon {
      @include fa-icon(1em, $fa-var-times-circle-o);

      position: absolute;
      font-size: $removeIcon;
      right: 0;
      top: 0;
      margin: .2em;
      cursor: pointer;
      opacity: .5;
      display: none;

      &:hover {
        opacity: 1;
      }
    }
  }
}