@import "../vars", "../mixins";

.numberInput {
  $arrHoverColor: white;
  $arrowOffset: .1em;

  .editBox {
    padding-right: $formControlArrowSpace;
  }

  &.error {
    .upArr,
    .downArr {
      border-color: $arrHoverColor;
    }
  }

  .upArr,
  .downArr {
    position: absolute;
    cursor: pointer;
    right: 0;
    z-index: 10;
    width: $formControlArrowSize * 2;
    height: 50%;

    &:hover:after {
      border-color: $arrHoverColor;
    }
  }

  .upArr {
    top: 0;
    &:after {
      position: absolute;
      bottom: $arrowOffset;
      @include triangle($formControlArrowSize, $bgColorLighten, top);
    }
  }

  .downArr {
    bottom: 0;
    &:after {
      position: absolute;
      top: $arrowOffset;
      @include triangle($formControlArrowSize, $bgColorLighten, bottom);
    }
  }
}