@import '../vars', '../mixins';

// form control
.buttonDropDown {
  $arrowSpace: $formControlArrowSpace + 4;
  $arrowBlockHover: rgba(0, 0, 0, .1);
  $arrowHoverColor: #666;
  $btnHoverColor: lighten($darkBgColor, 15%);

  position: relative;
  padding: 0;
  border-radius: 0;
  background: none;
  padding-right: $arrowSpace;

  &:hover {
    background: none;
  }

  .text {
    position: relative;
    background: $arrowHoverColor;
    border: 0;
    height: $formControlBaseHeight;
    line-height: $formControlBaseHeight;
    padding: 0 $spacing;
    border-radius: $radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;

    &:hover {
      background-color: $btnHoverColor;
    }
  }

  &.active {
    .arrow {
      background: $lightBgColor !important;
      &:after {
        border-color: #333;
      }
    }
  }

  &.separated {
    .arrow {
      cursor: default;
    }
  }

  &:not(.separated) {
    &:hover {
      .arrow, .text {
        background: $btnHoverColor;
      }
    }
  }

  .arrow {
    position: absolute;
    width: $arrowSpace;
    height: 100%;
    right: 0;
    top: 0;
    border-radius: $radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid darken($arrowHoverColor, 15%);
    text-align: center;
    background: $arrowHoverColor;

    &:after {
      @include triangle($formControlArrowSize, white, bottom);
      display: inline-block;
      margin: 0 auto;
    }
  }
}

// flying panel
.buttonDropDownContent {
  background-color: $darkBgColor;
  border: 1px solid $lightBgColor;
  border-radius: $radius;
  padding: $spacing;
  margin: 2px 0;
  z-index: 1000;
}