@import '../vars', '../mixins';

.itemList {
  $removeIcon: 1em;
  $padding: 3px;

  position: relative;
  overflow: hidden;
  list-style: none;
  background: $bgColorBase;
  padding: $padding;
  border-radius: $radius;
  border: 1px solid $bgColorLighten;
  cursor: default;

  li {
    position: relative;
    padding: 1px $spacing;
    border-radius: $radius;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: $padding;

    > span.item {
      color: inherit;
    }

    &:first-child {
      margin-top: 0;
    }

    &.disabled {
      pointer-events: none;
      color: gray;
      background: none !important;
    }

    &:hover {
      background-color: $bgColorLighten;
    }
  }

  &.removable {
    li {
      padding-right: $removeIcon;

      &.selected, &:hover {
        .removeIcon {
          display: block;
        }
      }
    }

    .removeIcon {
      position: absolute;
      right: 0;
      top: 0;
      margin: $radius;
      width: $removeIcon;
      height: $removeIcon;
      border-radius: $radius;
      text-align: center;
      cursor: pointer;
      display: none;

      &:hover {
        background: rgba(0, 0, 0, .25);
      }

      &:after {
        position: relative;
        top: -.5em;
        @include iconDelete;
      }
    }
  }
}