@import "../vars";

.radio {
  $boxSize: 1.2em;
  $bgColor: #555;
  $pointColor: #fff;
  $borderSize: .3em;

  .box {
    position: relative;
    display: inline-block;
    background: $bgColor;
    width: $boxSize;
    height: $boxSize;
    line-height: $boxSize;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    border: 1px solid transparent;

    &.checked {
      background: $pointColor;
      border: $borderSize solid $bgColor;
    }

    &:focus {
      box-shadow: 0 0 0 1px lighten($bgColor, 20%);
    }
  }

  .label {
    vertical-align: middle;
    cursor: pointer;
  }

  + .radio {
    margin-left: $spacing * 2;
  }
}