@import "../vars", "../mixins";

.popup {
  @include flyingPanelOffset($spacing);

  position: absolute;
  width: auto;
  height: auto;
  display: inline-block;
  overflow: hidden;
  white-space: pre-line;
  text-align: left;
  line-height: 130%;
  z-index: 10000000000;

  &.has-scroll .vendorDataView {
    padding-right: $padding;
  }

  .vendorDataView {
    .link {
      color: inherit !important;
    }
    .translation {
      vertical-align: middle;
    }
  }

  &:focus, &:hover {
    .scrollBar {
      margin-right: 0;
    }
  }

  .scrollBar {
    $animSpeed: .25s;
    $offset: .3em;

    @include with-vendors(transition, margin-right $animSpeed);
    margin-right: -$padding * 2;
    left: $offset;
    right: $offset;
    top: $offset;
    bottom: $offset;
    border-radius: inherit;

    .bar {
      @include with-vendors(transition, opacity $animSpeed);
      border-radius: inherit;
      box-shadow: gray 0px 0px 7px -1px;
    }
  }

  // inside the theme manager
  &.preview {
    @include with-vendors(transform, translateX(-50%));

    position: fixed !important;
    top: 25px !important;
    left: 50% !important;
    margin: auto;
    outline: .1em dashed lighten($bgColorBase, 50%);
    outline-offset: .7em;
    z-index: 1001;
    display: none;
  }
}