@import "../vars", '../mixins';

.settingsDisplayOptions {
  .hotKey {
    cursor: text;
    color: black;
    background: #eee;
    padding: .1em .2em;
    border-radius: $radius;
    display: inline-block;
    vertical-align: middle;
  }

  .uiFontSize {
    $color: silver;

    .name {
      margin-right: .5em;
    }
    .fa-icon {
      @include fa-icon(1.4em, '', auto);

      vertical-align: middle;
      color: $color;
      cursor: pointer;

      &.disabled {
        color: gray;
        pointer-events: none;
      }
      &:hover {
        color: white;
      }
    }
    .zoomValue {
      display: inline-block;
      width: 4em;
      text-align: center;
      color: $color;
    }
  }

  .checkBox {
    &:not(:first-child) {
      margin-top: $padding * 1.1;
    }
    .box {
      float: left;
      margin-right: $spacing;
    }
    .label {
      display: block;
      overflow: hidden;
    }
  }

  .hint {
    vertical-align: middle;
    cursor: help;

    &:hover:after {
      height: 100%;
      top: 0;
      margin-top: .5em;
    }

    &:after {
      content: attr(x-title);
      white-space: pre-line;
      display: block;
      color: silver;
      height: 0;
      top: -50em;
      position: relative;
      @include with-vendors(transition-property, height, top, margin-top);
      @include with-vendors(transition-duration, .25s, 0);
      @include with-vendors(transition-timing-function, ease-out, easy-in);
      @include with-vendors(transition-delay, 1s);
    }
  }

  .sep {
    @include addSepLine;
  }
}