@import "../vars", '../mixins';

.userInputContainer {
  textarea {
    height: 5em;
  }

  .nextVendorIcon {
    display: none !important;
  }

  .vendorDataView {
    padding: $spacing;
    .partOfSpeech {
      margin-top: $padding;
      @include addSepLine;
    }
  }

  .vendors {
    @include addSepLine(bottom);
    text-align: center;
    font-style: italic;
    font-weight: bold;

    .title {
      text-shadow: 1px 1px 0 black;
    }

    .vendorLink {
      &:not(:last-child) {
        &:after {
          font-weight: normal;
          content: " | ";
          color: $bgColorLighten;
        }
      }

      b {
        @include pseudoLink(white);
      }

      &.active b {
        color: silver;
        cursor: default;
        border: 0;
      }
    }
  }
}