@import "../vars", '../mixins';

.appFooterBar {
  @include addSepLine;
  color: silver;
  font-style: italic;
  padding: $padding;

  .shareLinks {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    margin: 0 $spacing;

    a {
      @include fa-icon(1.2em);
      text-decoration: none;

      &:not(:last-child) {
        margin-right: .3em;
      }
    }
  }
}