@import "../vars", '../mixins';

.settingsPopupDefinitions {
  .hotKey {
    vertical-align: middle;
    text-transform: lowercase;
    font-style: italic;
    cursor: text;

    &:focus {
      font-weight: bold;
    }
  }

  .sep {
    @include addSepLine;
  }
}