@import "../vars", '../mixins';

.settingsDisplayOptions {
  .hotKey {
    text-transform: lowercase;
    cursor: help;

    &:hover, &:focus {
      color: silver;
    }
  }

  .checkBox {
    &:not(:first-child) {
      margin-top: 8px;
    }
    .box {
      float: left;
      margin-right: $spacing;
    }
    .label {
      display: block;
      overflow: hidden;
    }
  }

  .hint {
    vertical-align: middle;
    cursor: help;
  }

  .sep {
    @include addSepLine;
  }
}