@import "../vars", '../mixins';

.settingsDisplayOptions {
  .hotKey {
    vertical-align: middle;
    text-transform: lowercase;
    cursor: help;

    &:hover, &:focus {
      color: silver;
    }
  }

  .hint {
    vertical-align: middle;
    cursor: help;
  }

  .sep {
    @include addSepLine;
  }
}