@import "../vars", '../mixins';

.settingsDisplayOptions {
  .hotKey {
    cursor: text;
    color: black;
    background: #eee;
    padding: .1em .2em;
    border-radius: $radius;
    display: inline-block;
    vertical-align: middle;
  }

  .checkBox {
    &:not(:first-child) {
      margin-top: .9em;
    }
    .box {
      float: left;
      margin-right: $spacing;
    }
    .label {
      display: block;
      overflow: hidden;
    }
  }

  .hint {
    vertical-align: middle;
    cursor: help;
  }

  .sep {
    @include addSepLine;
  }
}