@import "../vars", '../mixins';

.settingsPopupDefinitions {
  .hotKey {
    border-radius: $padding;
    text-align: center;
    display: block;
    width: 125px;
    margin: auto;

    input {
      cursor: help;
      &:focus {
        cursor: text;
      }
    }
  }

  .sep {
    @include addSepLine;
  }
}