@import "../vars", '../mixins';

.settingsPopupDefinitions {
  .hotKey {
    vertical-align: middle;
    text-transform: lowercase;
    color: silver;
    cursor: help;

    &:focus {
      color: white;
      cursor: text;
    }
  }

  .autoDetection .label {
    cursor: help;
  }

  .sep {
    @include addSepLine;
  }
}