@import "../vars", '../mixins';

.settingsThemeManager {
  .popupPreview {
    border: 1px dashed lighten($darkBgColor, 15%);
    text-align: center;
    margin-bottom: $padding;
    padding: $padding;
    border-radius: $radius;
    overflow: hidden;

    .popup {
      position: relative !important;
      margin: auto;
      z-index: 0;
      pointer-events: none;
    }
  }

  // form controls
  .button {
    text-shadow: 1px 1px 0 black;
    background: none;
    color: silver;
    vertical-align: top;
    margin-left: $spacing;
    font-weight: bold;

    &:focus,
    &:hover {
      color: white;
    }
  }

  .colorPicker {
    .colorBox {
      border-radius: 50%;
      border: 1px solid white;
    }
  }

  .colorPicker .textInput,
  .borderStyle,
  .numberInput {
    width: 6em;
  }

  .checkBox {
    margin-top: $spacing;
  }

  // block of styles
  .block {
    &:not(.commonBlock) {
      @include addSepLine(bottom, $padding);
    }

    .name {
      font-weight: bold;
      margin-bottom: $spacing;
      display: block;
      text-shadow: 1px 1px 0 black;
    }
  }

  .subBlock {
    width: 100%;
    display: table;

    > div {
      display: table-cell;
      padding: $spacing;
      white-space: nowrap;

      > * {
        vertical-align: middle;
        margin-right: $spacing;
      }
      &.param {
        min-width: 85px;
      }
      &.data {
        width: 100%;
      }
    }
  }

  .themeBlock {
    margin-bottom: $padding;

    .themeSelect, .themeName {
      width: auto;
      display: block;
      overflow: hidden;
    }

    .themeName {
      display: none;
    }

    .actionButtons {
      float: right;
    }

    &.saving {
      .themeSelect, .saveTheme {
        display: none;
      }
      .themeName, .cancelSave {
        display: block;
      }
    }

    .saveTheme, .cancelSave {
      @include fa-icon(1.2em);
      position: relative;
      top: -.1em;
      margin-left: .5em;
      border: 0;
      padding: 0;
      box-shadow: none !important;
      vertical-align: middle;
    }

    .cancelSave { display: none; }
  }

  .textBlock {
    .fontFamily {
      display: inline-block;
      width: 67%;
    }

    .textShadow {
      b {
        color: silver;
      }
    }
  }
}