@import "../vars", '../mixins';

.userInputContainer {
  textarea {
    height: 75px;
  }

  .vendorDataView {
    padding: $spacing;
    .partOfSpeech {
      margin-top: $padding;
      @include addSepLine;
    }
  }
}